body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Fridge background */
.fridge-bg {
    background: url('fridge.jpg') no-repeat center center;
    background-size: contain;
    /* 🔥 less zoom */
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: black;
}

/* Screen inside fridge */
.screen {
    position: absolute;

    top: 18%;
    right: 14.5%;

    width: 300px;
    height: 460px;

    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(18px);

    border-radius: 18px;
    padding: 14px;
    overflow-y: auto;

    color: white;

    border: 2px solid rgba(255, 255, 255, 0.25);

    box-shadow:
        inset 0 0 8px rgba(255, 255, 255, 0.2),
        0 8px 20px rgba(0, 0, 0, 0.6);
}

/* Hero */
.hero span {
    color: #00bfff;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* Cards */
.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
}

/* Status */
.fresh {
    color: #00ff9c;
}

.soon {
    color: orange;
}

.expired {
    color: red;
}

/* Inputs */
input {
    width: 100%;
    margin: 5px 0;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

/* Buttons */
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background: #00bfff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}